/*ROOT*/
:root {
    --logo-brand-color: #4d5ae5;
    --pressed-state-color: #404bbf;
    --body-brand-color: #2e2f42;
    --success-messages-color: #31d0aa;
    --body-text-color: #434455;
    --helper-text-color: #8e8f99;
    --subtle-background-color: #e7e9fc;
    --light-mode-background-color: #f4f4fd;
    --overlay-color: #2e2f42;
    --hero-color: #2e2f42;
    --page-background-color: #ffffff;
    --modal-background-color: #fcfcfc;
    --transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*GENERAL*/
h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;

}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
}

button{
    cursor: pointer;
    background: transparent;
    border: none;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--page-background-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    max-width: 428px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    
}
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1158px;
    }
    
}
/*HEADER*/
.page-header {
    background-color: var(--page-background-color);
    border-bottom: 1px solid var(--subtle-background-color);
    padding-top: 24px;
    padding-bottom: 24px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-header {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-brand-color);
    margin-right: 76px;
    padding-top: 25.5px;
    padding-bottom: 25.5px;

}

.logo-part-dark {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--body-brand-color);
}
@media screen and (max-width: 767px) {
    .menu {
        display: none;
    }
    .contact-info {
        display: none;
    }
}

.menu-toggle {
    line-height: 0;
}

@media screen and (max-width: 768px) {
    .menu-toggle-icon {
        fill: var(--overlay-color);
    } 
}
